// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.head{
  margin-left: 15px;
}

.head h1{
    display:block;
    font-size:26px;
    font-family: verdana,arial,helbetica,sans-serif;
}

.head span{
  font-weight:bold;
}

.box p{
  margin:33px;
  font-size:13px;
}

.box span{
  font-weight:bold;
}