// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
span{
  font-family: verdana,arial,helbetica,sans-serif;
  font-weight:bold;
}

.show {
  font-size:13px;
  margin:33px;
}

.show2 {
  margin-left:0;
  font-size:13px;
}

.flash-notifications{
  font-size:13px;
  color:green;
  margin:33px;
}